@model IEnumerable<MVCNews.Models.ArticleData>

@{
    ViewData["Title"] = "GetArticles";
}

<h1>Статьи</h1>




<p>
    <a asp-area="Redactor" asp-controller="Articles" asp-action="CreateArticle" asp-route-idsection="@ViewBag.idsection" asp-route-idsubsection="@ViewBag.idsubsection">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*  <th>
                @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IdSubsection)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Heading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            @*  <th>
                @Html.DisplayNameFor(model => model.Image)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AddTime)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*  <td>
                    @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                @*   <td>
                    @Html.DisplayFor(modelItem => item.IdSubsection)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Heading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                @*   <td>
                    @Html.DisplayFor(modelItem => item.Image)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.AddTime)
                </td>

                <td>
                    @Html.ActionLink("Удалить", "DeleteArticle", new { id=item.Id , idsection = @ViewBag.idsection, idsubsection =@ViewBag.idsubsection })
                    <a asp-area="Redactor" asp-controller="Articles" asp-action="PutArticle" asp-route-id="@item.Id" asp-route-idsection="@ViewBag.idsection" asp-route-idsubsection="@ViewBag.idsubsection">Изменить</a>
                    @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                </td>
            </tr>
        }
    </tbody>
</table>
