@model IEnumerable<News.MVC.Models.ArticleData>
@{
    ViewData["Title"] = "GetArticles";
}
<h1>Статьи</h1>
<p>
    <a asp-area="Redactor" asp-controller="Articles" asp-action="CreateArticle" asp-route-sectionId="@ViewBag.idsection" asp-route-subsectionId="@ViewBag.idsubsection">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Heading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddTime)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteArticle", new { id=item.Id , sectionId = @ViewBag.idsection, subsectionId =@ViewBag.idsubsection })
                    <a asp-area="Redactor" asp-controller="Articles" asp-action="PutArticle" asp-route-id="@item.Id" asp-route-sectionId="@ViewBag.idsection" asp-route-subsectionId="@ViewBag.idsubsection">edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
