@model IEnumerable<News.MVC.Models.SubsectionData>
@{
    ViewData["Title"] = "Subsections";
}
<h1>Subsection</h1>
<p>
    <a asp-area="Redactor" asp-controller="Subsection" asp-action="CreateSubsection" asp-route-Id="@ViewBag.sectionId">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-area="Redactor" asp-controller="Subsection" asp-action="PutSubsection" asp-route-sectionId="@item.IdSection" asp-route-id="@item.Id">Изменить</a>
                    @Html.ActionLink("Удалить", "DeleteSubsection", new { id=item.Id , idSection = item.IdSection})
                </td>
            </tr>
        }
    </tbody>
</table>
