@model IEnumerable<MVCNews.Models.ArticleData>
@{
    ViewData["Title"] = "Articles";
}
<div id="main">
    <div class="inner">
        <section class="tiles">
            @foreach (var item in Model)
            {
                <article class="style3">
                    <span class="image">
                        <img width="10em" height="240em" src="~/images/@item.Image" alt="" />
                    </span>
                    <a asp-area="" asp-controller="Home" asp-action="Article" asp-route-id="@item.Id" asp-route-subsectionId="@item.IdSubsection" asp-route-sectionId="@ViewBag.idsection">
                        <h2>@item.Heading</h2>
                        <div class="content">
                            <p>@item.ShortDescription</p>
                        </div>
                    </a>
                    @item.AddTime
                </article>
            }
        </section>
    </div>
</div>
